/* IMPORTS */
@import "./variables.css";
@import "./header.css";
@import "./footer.css";

body{
    background-color: var(--color_bg_main);
    font-family: var(--font_paragraph);    
    text-align: center;
}

a{
    color: var(--color_font);
    font-family: var(--font_links);
}

/* Back to shop button */
.back_to_shop_btn{
    color: var(--color_btn_font);
    font-family: var(--font_paragraph);
    font-size: var(--font_size_p);
    background-color: var(--color_btn_bg);
    border: none;
    border-radius: var(--border_btn_radius);
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

/* Confirmation box */
#cnfrm_box{
    background-color: var(--color_bg_second);
    margin: 3rem 1.25rem 15rem 1.5rem;
    border-radius: var(--border_btn_radius);
    padding: 3rem;
}

#cnfrm_heading{
    font-family: var(--font_heading);
    font-size: var(--font_size_h3);
    color: var(--color_font);
}

#cnfrm_message{
    display: block;
    margin: 1.25rem 1.9rem 1.25rem 1.25rem;
}

/* Screen minimum 587px */
@media only screen and (min-width: 587px){
    #cnfrm_box{
        margin: 3rem 4.5rem 19rem 4.5rem;
    }

    #cnfrm_message{
        margin: 1.25rem 3rem;
    }

    button{
        margin: 1.25rem 0 3rem 0;
    }
}

/* Screen minimum 767px */
@media only screen and (min-width: 767px){
    #cnfrm_box{
        margin: 2.5rem 6.25rem 12.5rem 6.25rem;
    }
}

/* Screen minimum 1024px */
@media only screen and (min-width: 1024px){
    #cnfrm_box{
        margin: 3rem 19rem 6.25rem 19rem;
    }
}

/* Screen minimum 1100px */
@media only screen and (min-width: 1100px){
    #cnfrm_box{
        margin: 3rem 25rem 6.25rem 25rem;
    }
}