/* IMPORTS */
@import "./variables.css";

body{
    margin: 1.25rem;
    background-color: var(--color_bg_second);
    font-family: var(--font_paragraph);
    font-size: var(--font_size_p);
    color: var(--color_font);
}

main{
    padding: var(--d_m_body_mobile);
}

h1{
    font-family: var(--font_heading);
    font-size: var(--font_size_h3);
    color: var(--color_font);
    text-align: center;
    margin-bottom: 2rem;
}

/* LOGO */
.logo{
    text-align: center;
    width: 6.25rem;
    margin: 0.6rem;
}

/* FORM */
input{
    border: none;
    border-radius: var(--border_btn_radius);
    width: 100%;
    font-family: var(--font_paragraph);
    font-size: var(--font_size_p);
    color: var(--color_font);
    padding: 0.3rem 0;
    margin: 0.2rem 0 0.6rem 0;
}

#email{
    margin-bottom: 2rem;
}

/* BUTTON STYLE */
button{
    background-color: var(--color_btn_bg);
    font-family: var(--font_paragraph);
    font-size: var(--font_size_p);
    color: var(--color_btn_font);
    border: none;
    border-radius: var(--border_btn_radius);
    width: 7.5rem;
    height: 2.75rem;
    margin-top: 2rem;
    cursor: pointer;
}

.frm_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Info regarding text about password and link */
#password_info{
    color: var(--color_font);
    font-size: 0.75rem;  
}

.extra_info{
    color: var(--color_font);
    font-size: 0.75rem;
    text-decoration: none;
    padding: 0.9rem;
    display: block;
}

/* Screen minimum 587px */
@media (min-width: 587px){
    body{
        background-color: var(--color_bg_main);
    }

    .logo{ 
        width: 9rem;
    }

    .main{
        margin: auto;
    }

    .signup_login_form{
        padding: 3rem;
        background-color: var(--color_bg_second);
        border-radius: var(--border_btn_radius);
    }

    #email{
        margin-bottom: 3rem;
    }
}

/* Screen minimum 600px */
@media (min-width: 700px){
    main{
        margin: 0 6.25rem;
    }
}

/* Screen minimum 900px */
@media (min-width: 900px){
    main{
        margin: 0 12.5rem;
    }
}

/* Screen minimum 1100px */
@media (min-width: 1100px){
    main{
        margin: 0 15.5rem;
    }

    .signup_login_form{
        margin: 0 5rem;
    }
}

/* Screen minimum 1250px */
@media (min-width: 1250px){
    .signup_login_form{
        margin: 0 8rem;
    }
}